$color_1: #a35b40;
$color_3: #177455;
$color_2: #f3eef5;
@mixin card_play {
  background-image: linear-gradient(1deg, #ffecd2 0%, #a35b40 100%);
}
@mixin card_train {
  background-image: linear-gradient(to top, #acd3bb 0%, #0c6b47 100%);
}

@mixin card_header {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #aed8ca 100%);
}

@import "_card.scss";
@import "_sublink-card.scss";
@import "_switcher.scss";
@import "_burger.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Vollkorn SC', serif;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  height: 90px;
  padding-top: 30px;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    nav{
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 270px;
      background-color: rgba($color_3, $alpha: 0.9);
      z-index: 5;
      transition: 0.6s all;
      color: rgb(226, 191, 191);;
      text-shadow: rgb(16, 35, 53) 1px 1px 0, rgb(38, 68, 97) -1px -1px 0,
      rgb(52, 73, 92) -1px 1px 0, rgb(42, 73, 102) 1px -1px 0;
      font-size: 23px;
      ul{
        list-style: none;
        margin: 199px 0 0 66px;
        li{
          margin-bottom: 15px;
          cursor: pointer;
        }
      }
      .active{
        color:rgb(107, 241, 230);
        text-decoration: underline;
      }
    }
    nav.active{
      left:0;
    }
    nav.play{
      background-color: rgba($color_1, $alpha: 0.9);
    }
  }
  .home{
    width: 50px;
    height: 50px;
    background-image: url("../assets/img/home.png");
    background-size:cover;
    cursor: pointer;
  }
}

.star-bar{
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  max-width: 1400px;
  height: 40px;
  padding: 0 20px 0 20px;
  overflow-x: hidden;
  .star{
    width: 30px;
    height: 30px;
    min-width: 30px;
    background-size: cover;
  }
}

.main__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 35px;
  .emodji{
    width: 83%;
    max-width:800px;
    height: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    img{
      width: 70%;
    }
    span{
      color: red;
      font-size: 1.1em;
    }
  }
}

.btn__wrapper{
  text-align: center;
  margin-bottom: 30px;
  .btn{
    display: none;
    color: rgb(24, 21, 21);
    font-size: 20px;
    background-color: rgb(248, 241, 241);
    padding: .7em 1.5em;
    outline: none;
    border-radius: 15%;
    &::before{
      content: "PLAY!";
      text-shadow: 2px 2px 2px white;
    }
    &.play{
      display: inline-block;
    }
    &.begin{
      display: inline-block;
      &::before{
        content: '';
        background: url(../assets/img/noise.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 26px 1px;
        width: 80px;
        height: 40px;
        display: block;
      }
    }
  }
}

@media (max-width:1650px) {
  .header__wrapper{
    padding: 0 10%;
  }
}

@media (max-width:500px) {
  .emodji{
    font-size: 15px;
  }
}



