$color_1: #c45d37;
$color_3: #2f9774;
$color_2: #f3eef5;
@mixin nav_color {
  background-image: linear-gradient(60deg, $color_1 0%, $color_3 100%);
}

@import "_switcher.scss";
@import "_burger.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Vollkorn SC', serif;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  height: 90px;
  padding-top: 30px;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    nav{
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 270px;
      background-color: rgba($color_3, $alpha: 0.9);
      z-index: 5;
      transition: 0.6s all;
      color: $color_2;
      text-shadow: rgb(72, 131, 185) 1px 1px 0, rgb(122, 188, 250) -1px -1px 0,
      rgb(122, 188, 250) -1px 1px 0, rgb(122, 188, 250) 1px -1px 0;
      font-size: 23px;
      ul{
        list-style: none;
        margin: 199px 0 0 66px;
        li{
          margin-bottom: 5px;
        }
      }
    }
    nav.active{
      left:0;
    }
  }
}

.main__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  .card {
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    width: 300px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 1px 3px 0 #ccc;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.4);
    transition: .4s ease-in-out;
    &:hover{
      box-shadow: 0 10px 20px rgba(0,0,0,.4);
    }
    .rotate{
      background-image: url(../assets/img/reload.png);
      background-size: contain;
      width: 29px;
      height: 29px;
      z-index: 3;
      background-repeat: no-repeat;
      top: 84%;
      position: relative;
      right: 5%;
      backface-visibility: hidden;
      filter: invert(100%);
      transition: 0.2s ease-in-out;
      &:hover{
        transform: scale(1.2,1.2);
        filter: none;
      }
    }
    .back, .front {
      display: flex;
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      background-size: contain;
      background-repeat: no-repeat;
      transition: .3s;
      .card-header {
        margin-top: 200px;
        padding: 0 15px;
        font-size: 24px;
        line-height: 45px;
        text-align: center;
        width: 100%;
        pointer-events: none;
        background: #fff;
        color: rgb(60, 62, 68);
        text-shadow: 1px 1px 3px grey;
        backface-visibility: hidden;
      }
    }
    .front{
      .card-header{
        backface-visibility: hidden;
      }
    }
    .back{
      transform: rotateY(180deg);
      backface-visibility: hidden;
    }
  }
  .card.flip{
    transform: rotateY(180deg);
  }
  .sub-link__card{
    width: 300px;
    height: 280px;
    text-align: center;
    margin: 15px;
    padding-top: 30px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    transition: 0.4s all;
    &:hover{
      box-shadow: 0 10px 20px rgba(0,0,0,.4);
    }
    &__img{
      width: 180px;
      height: 180px;
      margin-bottom: 30px;
      border-radius: 50%;
      border: 6px solid gray;
      object-fit: cover;
    }
  }
}

