$color_1: hsla(24, 100%, 60%, 0.5);
$color_2: hsla(7, 83%, 49%, 1);
$color_3: hsla(106, 87%, 55%, 0.5);


@import "_switcher.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px 0 40px;
}

header {
  height: 90px;
  padding-top: 30px;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    nav{
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 270px;
    }
  }
}

.main__wrapper {
  border: 2px ridge black;
  width: 100%;
  height: 700px;
  padding: 10px 0 10px 0;
  .card {
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    width: 300px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 25px;
    box-shadow: 0 1px 3px 0 #ccc;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.4);
    transition: .7s ease-in-out;

    .rotate{
      background-image: url("../assets/img/reload.svg");
      width: 29px;
      height: 100%;
      z-index: 3;
      background-repeat: no-repeat;
      top: 84%;
      position: relative;
      right: 5%;
      backface-visibility: hidden;
    }
    .back, .front {
      display: flex;
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      background-size: contain;
      background-repeat: no-repeat;
      transition: .3s;
      .card-header {
        margin-top: 200px;
        padding: 0 15px;
        font-family: "Roboto";
        font-size: 24px;
        line-height: 45px;
        text-align: center;
        width: 100%;
        pointer-events: none;
        background: #fff;
        color: #212529;
        backface-visibility: hidden;
      }
    }
    .front{
      .card-header{
        backface-visibility: hidden;
      }
    }
    .back{
      transform: rotateY(180deg);
      backface-visibility: hidden;
    }
  }
  .card.flip{
    transform: rotateY(180deg);
  }
}

